/* CSS Reset by Eric Meyer */
/* Taken from https://meyerweb.com/eric/tools/css/reset/ */
@import url('./reset.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;

  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
}

body {
  color: #4f4f4f;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.5;
}

span {
  font-weight: bold;
}

nav {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

nav a {
  border-radius: 1.25rem;
  color: white;
  display: inline-block;
  padding: 1% 0;
  margin: 2% 0;
  text-align: center;
  text-decoration: none;
  width: 15%;
}

.orange {
  background: #ff764e;
  margin-right: 5%;
}

.blue {
  background: #5ed3eb;
  margin-left: 10%;
  margin-right: 10%;
}

.yellow {
  background: #ffcd69;
  margin-left: 5%;
}

header nav {
  margin-bottom: 2%;
}

/* Headline */

.headline {
  /* background: purple; */
  width: 90%;
  font-size: 2rem;
  position: relative;
  text-align: center;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 6rem;
}

.headline div.right {
  background: green;
}

.headline div.right p {
  padding: 1.5%;
}

.left,
.right {
  display: inline-block;
}

.left {
  width: 25%;
  /* margin-left: 5%; */
}

.left img {
  border-radius: 100%;
}

.right {
  width: 65%;
  /* margin-left: 2%; */
}

.right div {
  position: absolute;
  top: 25%;
  text-align: center;
}

.right .smaller {
  display: inline-block;
  width: 60%;
}

/* Primary Body Content */

.primary {
  background: #ddb9a3;
  color: white;
  width: 95%;
  font-size: 2.5rem;
  padding: 0 1%;
  text-align: center;
  margin-top: 3%;
}

.primary p {
  margin: 1%;
  padding: 1.5% 0;
}

.secondary div img {
  width: 4rem;
}

footer {
  background: #f9e7dc;
}

section {
  margin: 0 auto;
}
