/* CSS Reset by Eric Meyer */
/* Taken from https://meyerweb.com/eric/tools/css/reset/ */
@import url('./reset.css');

* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #4f4f4f;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.5;
}

span {
  font-weight: bold;
}

section {
  margin: 0 auto;
}

/* Navigation (for both header nav and footer nav) */

nav {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

nav a {
  border-radius: 2rem;
  color: white;
  display: inline-block;
  font-size: 2rem;
  margin: 2% 0;
  padding: 1% 0;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  width: 15%;
}

nav a:hover {
  filter: brightness(0.85);
}

.orange {
  background: #ff764e;
  margin-right: 5%;
}

.blue {
  background: #5ed3eb;
  margin-left: 10%;
  margin-right: 10%;
}

.yellow {
  background: #ffcd69;
  margin-left: 5%;
}

/* Header */

header nav {
  margin-bottom: 2%;
}

/* Headline */

h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 7rem;
}

.headline {
  /* background: purple; */
  font-size: 2rem;
  position: relative;
  text-align: center;
  width: 90%;
}

.headline div.right {
  background: green;
}

.headline div.right p {
  padding: 1.5%;
}

.left,
.right {
  display: inline-block;
}

.left {
  width: 25%;
  /* margin-left: 5%; */
}

.left img {
  border-radius: 100%;
}

.right {
  width: 65%;
  /* margin-left: 2%; */
}

.right div {
  font-size: 2.2rem;
  position: absolute;
  text-align: center;
  top: 17.5%;
}

.right .narrow {
  display: inline-block;
  width: 50%;
}

/* Primary Body Content */

.primary {
  background: #ddb9a3;
  color: white;
  font-size: 2.5rem;
  margin-top: 5%;
  padding: 0 1%;
  text-align: center;
  transition: 0.5s;
  width: 95%;
}

.primary:hover {
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2), 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.primary p {
  margin: 1%;
  padding: 1.5% 0;
}

/* Secondary Body Content */

.secondary {
  text-align: center;
  width: 25%;
}

.secondary div {
  display: inline-block;
}

.secondary div img {
  width: 45%;
}

.secondary p {
  font-size: 1.9rem;
}

.secondary .first {
  margin: 2%;
}

.secondary .second {
  margin: 15% 0 25%;
}

/* Image Before Footer */

.before-footer {
  background-image: url('./assets/footer_img.jpg');
  background-position: 0% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.before-footer div {
  display: inline-block;
  height: 32rem;
  width: 100vw;
}

/* Footer */

footer {
  background: #f9e7dc;
}
