/* Base Styles */

* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #4f4f4f;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-family: 'Chelsea Market', cursive;
}

span {
  font-weight: bold;
}

section {
  margin: 0 auto;
}
